.card__wrapper {
    width: 280px;
}

.image__wrapper {
    width: 100%;
}

.recipe__image {
    width: 280px;
    height: 280px;
    object-fit: cover;
}

.recipe__name {
    text-align: center;
    font-weight: var(--font-accent-weight);
}

.info__grid p {
    color: var(--font-semi-color);
    font-size: var(--fonst-semi-size);
}

.info__grid {
    display: flex;
    justify-content: space-between;
}

.user__wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}