.duration__wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
}


.number__input {
    outline: none;
    border: 0;
    width: 20px;
    background-color: var(--background-semi-color);
}

.number__input::placeholder {
    color: var(--font-placeholder-color);
}

.number__wrapper {
    background-color: var(--background-semi-color);
    border-radius: var(--border-radius-main);
    width: calc(var(--font-main-size) * 2);
    color: var(--font-main-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.number__wrapper label {
    font-size: var(--fonst-semi-size);
    padding: 0;
    margin-top: -6px;
    color: var(--font-placeholder-color);
}