.user__wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
}

.user__image {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.username {
    margin-left: 10px;
}

.user__link {
    width: fit-content;
}
